<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Nosedive{% endblock %}</title>
  {% load static %}
  <script src="{% static 'js/main.js' %}" type="module" defer></script>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
  
{% if user.is_authenticated %}
{{user.username}}
<a href="{% url 'logout' %}">logout</a>
    {%else%}
      <a href="{% url 'login' %}">login</a>
    {%endif%}
<a href="/admin">admin</a>   
<a href="/">Homepage</a>
<a href="mailto:rikdewit1997@gmail.com?subject Nosedive User:{{user}}">Give feedback!</a>
<a href="https://github.com/rikkib1997/nosedive">Github</a>    
  {% block content %}
  {% endblock %}

</head>
<body>


</body>
</html>

